# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.env/

# Build / distribution
build/
dist/
*.egg-info/

# macOS system files
.DS_Store

# IDEs / editors
.vscode/
.idea/

# Anki add-on packaging
*.ankiaddon

# Logs / temp
*.log
*.tmp

field-map.json